{
"identifier" = "oolite.oxp.Okti.CargoScanner";
"required_oolite_version" = "1.79";
"title" = "Cargo Scanner";
"version" = "1.12";
"category" = "Equipment";
"description" = "This equipment uses a special scan to find out the content of the cargo containers.";
"author" = "Okti, timer";
"information_url" = "http://wiki.alioth.net/index.php/Cargo_Scanner_OXP";
"license" = "CC-BY-NC-SA 3.0";
}
